{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>ADD GIFTVARD ****</title>
    <meta name="description" content="Affiliate marketing">
    <meta charset="UTF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Imran Abdu">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
    <meta http-equiv="refresh" content="216000">
    <link rel="stylesheet" href="{% static 'css/add/add.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.1/dist/js/select2.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
<style>
    body{
    background-color: rgb(18, 18, 18);
    color:white;
}
.container-for-form{
        margin-top:10%;
}
</style>
</head>
  <body> 
        <div class="container-for-form">
      <form method="post"  enctype="multipart/form-data">
        <center><a href="{% url 'giftcards' %}" class="go-back" style="color:orangered; text-align: center;border-bottom: 1px solid orangered; cursor: pointer;padding-bottom: 4px;">GO BACK TO Giftcard Store ⭕</a></center>
        {% csrf_token %}
        {{ form.as_p }}
        <p style="color: red;text-align: center;">Make sure the size of image is 191 * 265 | 291 * 265</p>
        <button type="submit" class="thesubmitbutton">SMASH</button>
  
  </form>
</div>
  
  </body>
</html>