{% extends 'base/base.html' %}
{% load static %}


{% block header %}
<title>Giftcards</title>
<meta name="description" content="blog">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="UTF">
<meta name="author" content="Imran Abdu">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
<link rel="icon" href="{% static 'images/logo.png' %}">
<link rel="stylesheet" href="{% static 'css/products/giftcards.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,200,0,0" />


  <style>
    body {
        background-color: rgba(0, 0, 0, 0.93);
        font-family: 'Open Sans', sans-serif;
    }
    @font-face {
      font-family: 'Anurati';
      src: url('{% static "fonts/Anurati-Regular.otf" %}') format('opentype');
    }
    a{ 
      color:white;
    }
    a:hover{
      color:white
    }

    </style>
{% endblock header %}

{% block content %}




<div class="container-for-giftcard-nav">
    <div class="giftcard-nav-fluid">
    <li><a href="/products/giftcards?q=psn">PSN</a></li>
    <li><a href="/products/giftcards?q=stream">Stream</a></li>
    <li><a href="/products/giftcards?q=xbox live">Xbox Live</a></li>
    <li><a href="/products/giftcards?q=nintendo">Nintendo</a></li>
    <li><a href="/products/giftcards?q=ea app">EA app</a></li>
    <li><a href="/products/giftcards?q=microsoft">Microsoft</a></li>
    <li><a href="/products/giftcards?q=riot">Riot</a></li>
    <li><a href="/products/giftcards?q=blizzard">Blizzard</a></li>
    <li><a href="/products/giftcards?q=levelup">Level up</a></li>
</div>
</div>


<center>
<form class="search-for-giftcards-form"  action="{% url 'giftcards' %}">
    <input type="search" placeholder="Search Giftcards"  name="q" >
</form>
</center>



<div class="giftcontainer-2">
    {% for giftcard in giftcard %}
    <div class="fluid-for-the-giftcards">
        <a href="https://wa.me/message/BFCVZ3FW5WJRE1?text=I'm interested in buying  giftcard {{giftcard.title}}  at {{giftcard.price}}" target="_blank">
        <img src="{{ giftcard.giftcardimage.url }}">
        <p style="margin-top:20px;font-weight: bold;" class="giftcard-title">{{ giftcard.title }}</p>
        <div class="the-lower-part-o-giftcard">
            <p class="giftcard-price">${{ giftcard.price }}</p>
            <p class="giftcard-type">{{ giftcard.giftcard_type }}</p>
        </div></a>
        {% if user.is_authenticated and user.username == 'imranlifik' %}
            <a href="{% url 'editgiftcards' giftcard.id %}" style="position: absolute;left: 30%;">
                <span class="material-symbols-outlined">
                    edit_square
                </span>
            </a>
        {% endif %}
    </div></a>
    {% endfor %}
</div>


{% include 'base/footer.html' %}

{% endblock content %}
